@media screen and (max-width: 767px) {
    .header__sub h1, .record h2, .about h2, .download h2 {
        font-size: 41px;
        font-weight: bold;
    }
    .buttom img {
        margin: 20px 10px;
    }
    .buttom {
        margin-left: 10px;
    }
    .buttom__footer {
        margin-left: 0;
        margin-bottom: 10px;
    }
    
}

